/*=============================================================
    NAVBAR
===============================================================*/
.full-screen-link a {
    cursor: pointer;
}

.dropdownPerfil .dropdown-item:hover{
    color: black!important;
}

.logonav a {
    font-size: 20px;
    font-weight: 600;
}


/*=============================================================
    DATATABLES
===============================================================*/
.dataTables_wrapper {
    margin-top: 20px;
}

.dataTables_wrapper table {
    margin: 40px 0!important;
}

.dataTables_paginate li.page-item .page-link{
    color: #ffffff;
    background-color: #b66dff;
    border-color: #b66dff;
    padding: 0.5rem 1.3rem;
    box-shadow: none;
}
.dataTables_paginate li.page-item.active .page-link,
.dataTables_paginate li.page-item .page-link:hover{
    background-color: #c183ff;
    border-color: #bd7cff;
}


/*=============================================================
    SUBIR Y CAMBIAR IMAGEN
===============================================================*/
.inputImagen {
    align-items: center;
}

.inputImagen img {
    width: 90px;
    height: 90px;
    margin: 20px 20px 20px 10px;
    border-radius: 10px!important;
}


/*=============================================================
    ADICIONALES
===============================================================*/
select.form-control {
    color: #212529;
    padding: 0.94rem 1.375rem;
}